
h1{
  text-align: center;
  color: bisque;
  font-weight: bold;
  text-shadow: 0 0 5px black;
}

h2{
  color: white;
  text-align: center;
}


body {
  background-image: url(./images/cookieclicker-bg.png);
  background-attachment: fixed;
  background-position-y: 20%;
}

.logoutBtn{
  top: 0;
  left: 0;
  padding: 10px;
  background-color: silver;
  border: 3px solid #fff;
  border-bottom: 3px solid #737373;
  cursor: pointer;
  font-weight: bold;
}

.logoutBtn:active {
  box-shadow: 0 0 10px #000 inset;
}

.logoutBtn:hover{
  background-color: white;
}

.logoutBtn:active{
  background-color: white;
}


/* ========= Cookie Game ========= */

.cookieGame{
  display: flex;
  justify-content: space-between;
}

.cookiePlay{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 300px;
}

.cookiePlay p{
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 3rem;
  text-shadow: 0 0 10px black;
  padding: 5px 100px;
}

.cookieBtn{
  cursor: pointer;
  width: 380px;
  animation: cookie-spin 100s linear infinite;
}

.cookieBtn:active{
  width: 365px;
}

.cookie-particle {
  width: 30px;
  position: absolute;
  top: -30px;
  left: -30px;
  pointer-events: none;
  animation: cookie-fade 2s linear forwards;
}

.playerSideBar{
  padding-left: 100px;
}

/* ========= Store ========= */

.Store, .highScore{
  border: 8px solid black;
  background-color: rgba(0, 0, 0, 0.4);
}

.shopItems{
  display: flex;
  background-color: silver;
  border: 8px solid #fff;
  border-bottom: 8px solid #737373;
  padding: 5px 40px;
  cursor: pointer;
  width: 350px;
}

.shopItems:active {
  box-shadow: 0 0 20px #000 inset;
}

.shopItems:hover{
  background-color: white;
}

.shopItems:active{
  background-color: white;
}

.shopItems img{
  width: 100px;
}

.shopDesc{
  margin-left: 15px;
}

.shopItems .name{
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 0;
  flex: 1.5;
}

.shopItems .price{
  margin-top: 0;
  flex: 1.5;

}

.shopItems .upgradeCount{
  display: flex;
  margin-left: auto;
  align-items: center;
  font-size: 2.2rem;
  opacity: 0.2;
}


/* ========= High Score ========= */
table{
  border-spacing: 0px;
}

.highScore{
  margin-top: 50px;
  color: white;
}

.highScore th{
  color: white;
  background: #5ca1d6;
  padding: 10px 20px;
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgba(0,0,0,0.2);
}

th:first-child {
  border-top-left-radius: 5px;
  width: 182px;
}

th:last-child {
  border-top-right-radius: 5px;
  border-right: none;
  width: 182px;
  text-align: center;
}

th, td {
  border-style: solid;
  border-width: 0 1px 1px 0;
  border-color: rgba(0,0,0,0.2);
}

td{
  padding: 7px 20px;
  background: #FFE4C4;
  color: black;
}

.userScores{
  margin: auto;
}
 
.userData, .scoreData{
  text-align: center;
}

.btnGroup{
  text-align: center; 
  padding: 50px 0 0 0;
}

.highScoreBtns{
  width: 223px;
  border: 3px solid #fff;
  cursor: pointer;
  background-color: silver;
  border-radius: 4px;
  padding: 8px 16px;
  font-size: 16px;
  border-bottom: 4px solid #737373;
  font-weight: 700;
  color: black;
  line-height: 26px;
}

.highScoreBtns:active {
  box-shadow: 0 0 10px #000 inset;
}

.highScoreBtns:hover{
  background-color: white;
}

.highScoreBtns:active{
  background-color: white;
}


/* ========= KEYFRAMES ========= */

@keyframes cookie-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cookie-fade {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
      top: 0;
  }
}

/* ========= Media Queries ========= */
@media (max-width: 1350px){
  .cookiePlay p{
    font-size: 2.5rem;
    padding: 5px 80px;

  }
}


@media (max-width: 1250px){
  .cookiePlay p{
    padding: 5px 75px;
  }
}



